<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms"/>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="On"></customErrors>
    <compilation debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <machineKey decryption="AES" decryptionKey="4A4A05064CB88274BDAE2B1C45A217B27B0B6B54D9070B19317DE19C18475A91"
                validation="HMACSHA256"
                validationKey="C2815311403B2ABCF284BEF1FBB46304F5C5E7C7EAC3411BE730C71B895741E953A3B9D18ED60195D03FC2139B9EAFFE32E6A7962071E6856EBBF667190992FC" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceCrimeData"/>
        <binding name="BasicHttpBinding_IServiceNearByStores"/>
        <binding name="BasicHttpBinding_IServiceDataAccess"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCrimeData" contract="ServiceCrimeData.IServiceCrimeData" name="BasicHttpBinding_IServiceCrimeData"/>
      <endpoint address="http://webstrar36.fulton.asu.edu/Page2/ServiceNearByStores.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceNearByStores" contract="NearByStoresService.IServiceNearByStores" name="BasicHttpBinding_IServiceNearByStores"/>
      <endpoint address="http://webstrar36.fulton.asu.edu/Page2/ServiceDataAccess.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDataAccess" contract="ServiceReferenceDataAccess.IServiceDataAccess" name="BasicHttpBinding_IServiceDataAccess"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="1000000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>